@import "./css/global.css";
@import "./css/reset.css";
@import url(./css/header.css);

.coverCard {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./imagens/FundoPáginaInicial.png);

    .coverCard__title,
    .coverCard__title-shadow {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
        overflow: hidden;
        font-size: 11.25rem;
        line-height: 1;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.625rem;

    }

    .coverCard__title {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(0.6875rem);

        .coverCard__title_transparent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            background-image: url(./imagens/FundoPáginaInicial.png);
            justify-content: center;
            background-size: cover;
            flex-direction: column;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            .oi {
                margin-left: -32.1875rem;
            }
            .oio {
                margin-left: -3.4375rem;
            }
        }
    }

    .coverCard__title-shadow {
        left: 50vw;

        .coverCard__title-shadow_white {
            position: relative;
            left: -50vw;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .oi {
                margin-left: -31.25rem;
            }
            .oio {
                margin-left: -3.4375rem;
            }
        }
    }

    .coverCard__content {
        position: relative;
        z-index: 2;
        width: 50vw;
        display: flex;
        align-items: flex-end;
        height: 100vh;
    }

    .container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }

    .coverCard__subTitle {
        text-transform: uppercase;
        margin-left: 6.25rem;
        color: #909090;
        line-height: 1.25rem;
        font-weight: 800;
        line-height: 1.5625rem;
        margin-bottom: 2.5rem;


    }
}

  .coverCard__subTitle1 {
        margin-top: 10.625rem;
        position: absolute;
        z-index: 2;
        text-transform: uppercase;
        margin-left: 9.375rem;
        color: #909090;
        font-weight: 800;



    }

.hea {
    position: absolute;
    z-index: 5;
}
