@import "../../css/global.css";
@import "../../css/reset.css";
@import url(../../css/header.css);

body {
    background-color: #000;
    overflow: hidden;
}

.coverCard {
    font-family: 'Inter', sans-serif;

    background-size: cover;
    background-image: url(../../imagens/FundoExtras.png);
    background-position: 1%;

    .coverCard__title {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 50vw;
        height: 100vh;
        overflow: hidden;
        font-size: 120px;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;   
    }

    .coverCard__title {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);

        .coverCard__title_transparent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 75vh;
            display: flex;
            align-items: flex-start;
            background-image: url(../../imagens/FundoExtras.png);
            justify-content: center;
            flex-direction: column;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin-left: 100px;
        }
    }


    .coverCard__content {
        position: relative;
        z-index: 2;
        width: 50vw;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: flex-end;
    }

    .container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 85%;
        margin-bottom: 100px;
    }

    .coverCard__subTitle {
        text-transform: uppercase;
        margin-left: 100px;
        color: #909090;
        line-height: 20px;
        font-weight: 800;

    }
}

.hea {
    position: absolute;
    z-index: 5;
}

.destaque a {
    color: #FFFFFF;
    opacity: 100%;
}



#prev, #next {
  border: 0.625rem solid #495826;  /* borda grossa verde escuro */
  background-color: #495826;       /* fundo verde escuro */
  border-radius: 0.9375rem;        /* cantos arredondados */
  color: #FFFFFF;                  /* cor do ícone */
  text-decoration: none;           /* sem decoração */
  font-weight: bold;               /* negrito (se fosse texto) */
  font-size: 1.25rem;              /* tamanho do ícone/texto */
  cursor: pointer;                 /* mãozinha ao passar o mouse */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}